/* start:Standard Style */
*{
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  scroll-behavior: smooth;

}
a{
  text-decoration: none;

}
/* end: Standard Style */
/* start: vars */
:root{
  --main-color: #4CEFB9;
  --full-width: 1536px;
  --light-of-main-color: #C5FAE8;
}
/*  end: vars */
/* start:top */
.top{
  width: var(--full-width);
  height: 424px;
  background-color: var(--light-of-main-color);
  display: flex;
  justify-content: center;
}


.top .container{
  width: 1000px;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* end:top */
/* start:sign_form */
.top .container .sign{
  left: -107px;
    width: 518px;
    height: 604px;
    padding: 42px;
    background-color: var(--main-color);
    position: relative;
    top: 50px;
    border-radius: 36px;
    box-shadow: 6px 6px 25px -9px #e05f89;
}

.top .container .sign::after{
  content: "Hi, We wish you have a journey rich in knowledge";
    position: absolute;
    width: 204px;
    top: 150px;
    right: -235px;
    font-size: 30px;
    color: white;
}

.top .container .sign:hover{
  box-shadow:none;
}

.top .container .sign form .user-name{
  display: block;
    margin-bottom: 50px;
    height: 38px;
    width: 421px;
    position: relative;
    left: 8px;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    color: #E05F89;
    outline: none;
    font-size: 22px;
}
.top .container .sign form .email{
  display: block;
    margin-bottom: 50px;
    height: 38px;
    width: 421px;
    position: relative;
    left: 8px;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    color: #E05F89;
    outline: none;
    font-size: 22px;
}

.top .container .sign form .password{
  display: block;
    font-size: 22px;
    margin-bottom: 50px;
    height: 38px;
    width: 421px;
    position: relative;
    left: 8px;
    /* margin-top: 9px; */
    border: none;
    padding-left: 20px;
    border-radius: 8px;
    color: #E05F89;
    outline: none;
}

.top .container .sign form select{
  display: block;
    margin-bottom: 50px;
    height: 38px;
    width: 130px;
    position: relative;
    left: 8px;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    color: #E05F89;
    outline: none;
    font-size: 18px;
}

.top .container .sign form .email-check{
  display: block;
    margin-bottom: 50px;
    height: 38px;
    width: 421px;
    position: relative;
    left: 8px;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    color: #E05F89;
    outline: none;
    font-size: 22px;
}

.top .container .sign form .agree{
  width: 20px;
    height: 20px;
    margin-right: 9px;
}

.top .container .sign form label{
  color: white;
    position: relative;
    top: -3px;
}

.top .container .sign form .sign-in{
  position: absolute;
    right: 50px;
    bottom: 26px;
    width: 126px;
    height: 39px;
    border: none;
    border-radius: 20px;
    background-color: #E05F89;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #9c7979;
    font-size: 20px;
}

.top .container .sign form .sign-in:active{
    box-shadow:none;
}
/* start:sign_form */
